<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd">

    <context:annotation-config/>   <!-- 打开注解的方式注入 -->
    <!-- 启动对@AspectJ注解的支持 -->
    <aop:aspectj-autoproxy/>

    <!-- 事务管理器配置,单数据源事务 -->
    <bean id="transactionManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>

    <!-- 使用annotation定义事务 -->
    <tx:annotation-driven transaction-manager="transactionManager" proxy-target-class="true" />


    <!--hibernate-->
    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"></property>
        <property name="url" value="jdbc:mysql://localhost:3306/visual_interior?useUnicode=true&amp;characterEncoding=UTF-8"></property>
        <property name="username" value="root"></property>
        <property name="password" value="19900108pwk"></property>
        <property name="initialSize" value="1"/>
        <property name="maxActive" value="500"/>
        <property name="maxIdle" value="2"/>
        <property name="minIdle" value="1"/>
        <property name="timeBetweenEvictionRunsMillis" value="3600000"/>
        <property name="minEvictableIdleTimeMillis" value="18000000"/>
        <property name="validationQuery" value="select 1"/>
        <property name="testWhileIdle" value="true"/>
        <property name="testOnBorrow" value="true"/>
        <!-- 是否对已备语句进行池管理（布尔值），是否对PreparedStatement进行缓存 -->
        <property name="poolPreparedStatements" value="true" />
    </bean>

    <bean id="sessionFactory"
          class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
        <property name="dataSource">
            <ref bean="dataSource" />
        </property>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">
                    org.hibernate.dialect.MySQLDialect
                </prop>
                <!--<prop key="hibernate.show_sql">true</prop>-->
            </props>
        </property>
        <property name="mappingResources">
            <list>
                <value>com/pwk/entity/Case.hbm.xml</value>
                <value>com/pwk/entity/Image.hbm.xml</value>
                <value>com/pwk/entity/News.hbm.xml</value>
                <value>com/pwk/entity/Admin.hbm.xml</value>
            </list>
        </property>
    </bean>

    <!--<bean id="sessionFactory_v2" class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">-->
        <!--<property name="dataSource" ref="dataSource"/>-->
        <!--<property name="annotatedClasses">-->
            <!--<list>-->
                <!--<value>com.pwk.entity.Case</value>-->
                <!--<value>com.pwk.entity.Image</value>-->
            <!--</list>-->
        <!--</property>-->
    <!--</bean>-->

    <!--springJDBC-->
    <bean id="jdbcTemplate"
          class="org.springframework.jdbc.core.JdbcTemplate" abstract="false"
          lazy-init="false" autowire="default" dependency-check="default">
        <property name="dataSource">
            <ref bean="dataSource" />
        </property>
    </bean>

    <bean id="simpleJdbcTemplate" class="org.springframework.jdbc.core.simple.SimpleJdbcTemplate">
        <constructor-arg ref="dataSource"></constructor-arg>
    </bean>

    <bean id="adminService" class="com.pwk.service.impl.AdminServiceImpl"/>
    <bean id="caseService" class="com.pwk.service.impl.CaseServiceImpl"/>
    <bean id="imageService" class="com.pwk.service.impl.ImageServiceImpl"/>
    <bean id="newsService" class="com.pwk.service.impl.NewsServiceImpl"/>

    <bean id="engine" class="com.pwk.tools.Engine">
        <property name="adminService" ref="adminService"/>
        <property name="caseService" ref="caseService"/>
        <property name="imageService" ref="imageService"/>
        <property name="newsService" ref="newsService"/>
    </bean>
</beans>