@font-face {
    font-family: 'big_title';
    font-style: normal;
    font-weight: normal;
    src: url(../css/font/big_title.TTF);
}
@font-face {
    font-family: 'content';
    font-style: normal;
    font-weight: normal;
    src: url(../css/font/content.TTF);
}
@font-face {
    font-family: 'title';
    font-style: normal;
    font-weight: normal;
    src: url(../css/font/title.TTF);
}